body {
   font-size: 1.2rem;
   background-color: #444;
   color: #fff;
   text-align: center;
   background: #000000;
   background: -webkit-linear-gradient(to right, #434343, #000000);  
   background: linear-gradient(to right, #434343, #000000);
}

h1, h2 {
   font-weight: 300;
}